.logo {
  object-fit: contain;
  width: auto;
  height: 45px;
}

h1 {
  width: 509px;
  height: 68.5px;
  font-family: Roboto;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  position: absolute;
  left: 30%;
  right: 14.65%;
  top: 17.71%;
  bottom: 62.71%;
  text-align: center;
}

p {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 40%;
  bottom: 20%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #f2f2f2;
}

.imagemPrincipal {
  background-image: url("./assets/imagem\ de\ fundo.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.formulario {
  text-align: center;
  color: #333333;
  font-family: Roboto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.containerFlex {
  display: flex;
}

.tituloConvidados {
    display: block;
}

.convidado {
  flex: 1;
}
