body {
  background-color: #F47633;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 80vh;
  overflow: hidden;
}

h1 {
  font-family: Roboto;
  font-size: 42.5px;
  font-weight: bold;
  letter-spacing: normal;
  color: #281748;
}

h3 {
  font-family: Roboto;
  font-size: 18px;
  width: 60%;
  text-align: center;
  color: #281748;
}

img {
  margin-top: 32px;
  height: 80px;
  width: 80px;
  object-fit: contain;
  
}

